.h11 {
  background-image:url("https://i1.wallpaperscraft.com/image/wood_bright_stripes_vertical_9679_300x187.jpg");
  color: black;

  font-family: 'Concert One', cursive;
  text-align: left;
}
.div1{
  background-image:url("https://images5.alphacoders.com/426/thumb-1920-426038.jpg")


}
.div2{
  background-image:url("https://wallpaperscraft.com/image/boards_wooden_surface_background_texture_50684_1920x1080.jpg")
}

#h31{
  font-family: 'Concert One', cursive;
  padding:20px;
  color:#000000;
  background-image:url("https://i1.wallpaperscraft.com/image/wood_bright_stripes_vertical_9679_300x187.jpg");
}
.div3{
  background-image:url("https://images6.alphacoders.com/378/thumb-1920-378721.jpg");
  color: #000000;
  font-family: 'Shadows Into Light', cursive;

}

#p2{
  padding:40px;
}
.div4{
  color: #000000;
  background-image:url("https://wallpaperscraft.com/image/blocks_rainbow_3d_graphics_background_76559_1920x1080.jpg");

}

.biopara{
  background-image:url("https://wallpaperscraft.com/image/wood_planks_parquet_texture_surface_44962_1920x1080.jpg");

}
.awarda{
    background-image:url("https://wallpaperscraft.com/image/wood_planks_parquet_texture_surface_44962_1920x1080.jpg");
}
.booksa{
    background-image:url("https://wallpaperscraft.com/image/wood_planks_parquet_texture_surface_44962_1920x1080.jpg");

}
#books{
  font-family: 'Concert One', cursive;
  background-image:url("https://i1.wallpaperscraft.com/image/wood_bright_stripes_vertical_9679_300x187.jpg");
}
.speech{
  font-family: 'Concert One', cursive;
  background-image:url("https://i1.wallpaperscraft.com/image/wood_bright_stripes_vertical_9679_300x187.jpg");
}
#awards{
  font-family: 'Concert One', cursive;
  background-image:url("https://i1.wallpaperscraft.com/image/wood_bright_stripes_vertical_9679_300x187.jpg");
}
#biohead{
  font-family: 'Concert One', cursive;
  background-image:url("https://i1.wallpaperscraft.com/image/wood_bright_stripes_vertical_9679_300x187.jpg");
}
#contributions{
  font-family: 'Concert One', cursive;
  background-image:url("https://i1.wallpaperscraft.com/image/wood_bright_stripes_vertical_9679_300x187.jpg");
}
.contrib{
    background-image:url("https://wallpaperscraft.com/image/wood_planks_parquet_texture_surface_44962_1920x1080.jpg");}

#foot1{
  background-image:url("https://cdn.pixabay.com/photo/2016/12/26/13/47/dark-1932208_960_720.jpg");
  margin-bottom: 0;
}
#last{
  position:relative;
  color:white;
  margin-left:520px;
  letter-spacing:4px;

}
.div0{
  font-family: 'Concert One', cursive;
  color:black;
}
